*{
	padding: 0;
	margin: 0;
	border: 0;
}
a{
	text-decoration: none;
	color: black;
}
.header{
	background-image: url("bg.jpg");
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: 20% 70%;
}
.header1{
	background-image: url("bg.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: 20% 70%;
}
.navigasi{
	height: 10vh;
	width: 100%;
	background-color: white;
}
.navigasi ul li{
	display: inline-block;
	float: right;
	width: 10%;
	margin-top: 2%;
	font-size: 20px;
}
.title{
	margin-right: 20%;
}
.btn-login{
	width: 50%;
	padding: 3%;
	background-color: black;
	color: white;
	border-radius: 10%;
	cursor: pointer;
}
.konten{
	color: white;
	text-align: center;
	margin-top: 20%;
	font-family: "Times New Roman", Times, serif;
}

/*login*/

.login{
	height: 70vh;
	background-color: white;
	width: 40%;
	margin: auto;
	margin-top: 5%;
	padding: 1%;
}
.title-login{
	text-align: center;
	margin: auto;
}
.garis{
	margin-top: 2%;
	height:2px;
	background-color: black;
}
.form{
	padding: 4%;
}
.input-login{
	padding: 2%;
	border: 1px grey solid;
	margin-top: 2%;
	width: 90%;
	margin-bottom: 5%;
}
.btn-login-form{
	font-size: 20px;
	width: 30%;
	text-align: center;
	padding: 3%;
	color: white;
	border-radius: 10%;
	cursor: pointer;
	background-color: black;
}
.btn{
	text-align: center;
	margin: auto;
}
.footer-login{
	width: 100%;
	margin-top: 6%;
}
.footer-text{
	width: 45%;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.register{
	height: auto;
	background-color: white;
	width: 40%;
	margin: auto;
	margin-top: 2%;
	padding: 1%;
}
.form1{
	padding: 4%;
	margin-bottom: 2%;
}
.ubah{
	text-align: center;
	margin: auto;
	background-color: black;
	padding: 3%;
	cursor: pointer;
}
.ubah-password{
	color: white;
	background-color: transparent;
}
.kembali{
	text-align: center;
	margin: auto;
	margin-top: 2%;
	background-color: grey;
	padding: 3%;
	cursor: pointer;
}
.kembali-txt{
	color: black;
	background-color: transparent;
}
.content{
	width: 100%;
}
.side-bar{
	width: 20%;
	height: 100vh;
	background-color: white;
	padding-top: 2%;
}
.judul{
	text-align: center;
	font-size: 30px;
}